.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button {
  margin: 0.5vmax;
}

.button-l {
  margin-left: 0.5vmax;
  margin: 0.1vmax;
}

.table-1{
  text-align: center;
  text-justify: auto;
}

.table-1 thead {
  background-color:rgb(228, 228, 228);
}

.table-2 thead{
  text-align: center;
  background-color:rgb(228, 228, 228);
}

.table-container{
  padding-left: 20%;
  padding-right: 20%;
}

.table-legend{
  padding-left: 30%;
  padding-right: 30%;
}

.title-list {
  text-align: center;
}