.vocal {
    left: 40px;
    bottom: 40px;
    height: 48px;
    padding-right: 20px;
    align-items: center;
    margin-left: 5px;
  }
  .sendalert {
    right: 40px;
    bottom: 40px;
    height: 48px;
    padding-right: 20px;
    align-items: center;
    
  }
  .returncall {
    right: 650px;
    bottom: 40px;
    height: 48px;
    padding-right: 20px;
    align-items: right;
  }
  .closecall {
    margin-top: 30px;
  }

  .customize {
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .editparameters{
    margin-left: 5%;
  }
  img {
    width: 800px;
    margin-left: 20px;
 }
 .col-3 {
  margin-top: 100px !important;
 }