#navbar {
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px 0 rgb(234, 234, 234);
  }
  
  #nav-home {
    text-decoration: none;
  }
  
  #navbar-brand, #title{
    font-family:"IBM Plex Sans", sans-serif, cursive;
    padding-top: 0;
    padding-bottom: 0;
    font-size: xx-large;
    color: white;
  }
  /*'Times New Roman', Times, serif,*/
  #nav-username {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: white;
    padding: 1vh!important;
  }
  
  #btn-login {
    font-family: "IBM Plex Sans", sans-serif;
    padding-right: 1rem;
    border-radius: 7px;
  }

  .login h5{
    padding: 10cm!important;
  }
  .font{
    font-family:"IBM Plex Sans", sans-serif, cursive;
}