.additional-details{
    padding: 0;
    border: none;
}

.no-alert{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.bold{
    font-weight: bold;
}

.alerts-title{
    background-color: #ffc107;
}

.modal-footer{
    display: inline;
  }