.kit-title {
    font-weight: bold;
    font-size: large;
    margin-top: 0;
    border: none;
    border-bottom: black 1pt solid;
    background-color:rgb(228, 228, 228);
}

#title {
    text-align: center;
}

.border {
    border: black 1pt solid !important;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    
}

.sensor-list {
    display: inline-block;
    width: 25%;
    border:none;
    border-right: black 1pt solid;
    border-radius: 0;
}

.list-elem{
    border: none;
    border-bottom: black 1pt solid;
}

.list-elem:hover{
    background-color: #0dcaf0;
}

#kitContainer{
    display: inline-block;
    width: 65%;
    margin-left: 5%;
    margin-right: 5%;
    
}

.instruction{
    margin-top: 5%;
    height: 80%;
    margin-bottom: 5%;
    padding: 4pt;
}

#sensorTable {
    border: gray 1pt solid;
    outline: none;
}

#details{
    font-weight: bold;
}

#sensorTable th{
    background-color:#0dcaf0;
    
}

.additional-details-elem{
    display:list-item;
    border: none;
}

.additional-details{
    padding: 0;
    border: none;
}
