#title{
    text-align: center;
}

#sensorTable {
    border: 1px solid;
    border-radius:6px;
    border-collapse:separate;
}

.th, .td {
    border: none;
    
}

.kit {
    width: 25%;
}
