.kit-title {
    font-weight: bold;
    font-size: large;
    margin-top: 0;
    border: none;
    border-bottom: black 1pt solid;
    background-color: transparent;
}

#title {
    text-align: center;
}

.border {
   /* border: 1px solid !important;
    border-radius: 10px !important;*/
    border: none;
    border-radius: 10pt;
    box-shadow: 0 0 0 0.5pt black;
    outline: none;
    padding: 0;
    display: flex;
}

.sensor-list {
    display: inline-block;
    width: 25%;
    border:none;
    border-right: black 1pt solid; 
    
    border-radius: 0;
}

.list-elem{
    border: none;
    border-bottom: black 1pt solid;
}

.list-elem:hover{
    background-color: rgb(219, 190, 190);
}

#kitContainer{
    display: inline-block;
    width: 65%;
    margin-left: 5%;
    margin-right: 5%;
}

#sensorTable {
    border: none;
    border-radius: 10pt;
    box-shadow: 0 0 0 0.5pt black;
    outline: none;
}

td{
    border: 0;
}